@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #0f172a;
  --color-secondary: #334155;
  --color-background: #ffffff;
  --color-foreground: #0b1220;
  --color-hover: #f1f5f9;
  --color-brand: #2563eb;
}

html, body, #__next { height: 100%; }
body { background: var(--color-background); color: var(--color-primary); }

.prose :where(code):not(:where([class~="not-prose"] *)) {
  background: var(--color-foreground);
  color: white;
  padding: 0.125rem 0.25rem;
  border-radius: 0.25rem;
}


